*.iml
*.ipr
*.iws
*.log
*.sublime-workspace
.assetcache
.DS_Store
.gradle
.idea
build
cobertura.ser
kindlegen
out
atlassian-ide-plugin.xml
plugin-ui/plugin/src/main/templates/views/*
!etc/bin
etc/bin/results